



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">price</th>
        <th scope="col">total price</th>
        <th scope="col">remove</th>

        
      </tr>
    </thead>
    <tbody>
      {%for item in cart_items %} 
      <tr>
        
        <td scope="col">{{item.product.product_name}}</td>
         <td scope="col"><a href="{% url 'remove_from_cart' item.id %}"><button class="btn btn-danger">-</button></a> {{item.quantity}}<a href="{% url 'add_to_cart' item.id %}"><button class="btn btn-primary">  +  </button></a></td>
        <td scope="col">RS  {{item.price}}</td>
        
        <td scope="col">RS:  {{item.total_cost}}</td>


        {% comment %} <td><button class="inc-to-cart-btn" data-product-id="{{ item.id }}">+</button> </td> {% endcomment %}
  

        <td scope="col"> <button class="remove-from-cart-btn" data-product-id="{{ item.id }}">Remove</button></td>

        
       
  
      </tr>
      {%endfor%}
    </tbody>
  </table>
  <div class="row justify-content-center">
  <h3>Total: Rs  :{{total}}/- <span class="badge badge-primary" id="total"></span></h3>
  </div>
  <br>
 

  <a href={% url 'checkout' %}>checkout</a>

{% comment %} 
  <script> 
    $(document).ready(function() {
        $('.inc-to-cart-btn').click(function() {
            var productId = $(this).data('product-id');
            $.ajax({
                url: '/add/' + productId + '/',
                method: 'GET',
                success: function(response) {
                    if (response.success) {
                        alert('succcess!');
                    } else {
                        alert('Please login');
                    }
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
    </script> {% endcomment %}


</body>
</html>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
$('.remove-from-cart-btn').click(function() {
    var cartItemId = $(this).data('product-id');
    $.ajax({
        url: '/remove-from-cart/' + cartItemId + '/',
        method: 'GET',
        success: function(response) {
            if (response.success) {
                alert('Product removed from cart!');
                location.reload();  // Refresh the page after removing the item
            } else {
                ('Failed to remove product from cart.');
            }
        },
        error: function(xhr, status, error) {
            console.error(xhr.responseText);
        }
    });
});
});
</script>