
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">price</th>
        <th scope="col">total</th>
      </tr>
    </thead>
    <tbody>
      {% for cart_item in cart_items %}
      <tr>
        
        <td scope="col">{{ cart_item.product.phone_name }}</td>
         <td scope="col">{{ cart_item.quantity }}</td>
        <td scope="col">RS  {{ cart_item.product.offer_price }}</td>
        <td scope="col">RS  {{ cart_item.total_cost }}</td>
       
      {%endfor%}
  
    </tbody>
  </table>
  <div class="row justify-content-center">
  <h3>Total: Rs   :{{total}}/- <span class="badge badge-primary" id="total"></span></h3>
  </div>
  

  <button>place order</button>