
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">price</th>
        <th scope="col">total</th>
      </tr>
    </thead>
    <tbody>
      {% for cart_item in cart_items %}
      <tr>
        
        <td scope="col">{{ cart_item.product.phone_name }}</td>
         <td scope="col">{{ cart_item.quantity }}</td>
        <td scope="col">RS  {{ cart_item.product.offer_price }}</td>
        <td scope="col">RS  {{ cart_item.total_cost }}</td>
       
      {%endfor%}
  
    </tbody>
  </table>
  <div class="row justify-content-center">
  <h3>Total: Rs   :{{total}}/- <span class="badge badge-primary" id="total"></span></h3>
  </div>
  




  <h1>Personal Information</h1>
  <form method="post" action="">
    {% csrf_token %}


    <input type="hidden"  name="total_checkout_price" n value="{{total}}" required><br>

    <label for="name">Name:</label>
    <input type="text" name="name" required><br>

    <label for="address">Address:</label>
    <input type="text" name="address" required><br>

    <label for="phone">Phone:</label>
    <input type="text" name="phone" required><br>

    <label for="place">Place:</label>
    <input type="text" name="place" required><br>

    <label for="district">District:</label>
    <input type="text" name="district" required><br>

    <label for="gender">payment_type:</label>
    <input type="radio" name="payment_type" value="cod" required> COD
    <input type="radio" name="payment_type" value="paypal" required> PAYPAL<br>


    <input type="submit" value="Submit">
</form>